<!-- templates/home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>RCNM Garima - Home</title>
</head>
<body>
    {% include 'header1.html' %}
    <div class="container">

        <main>

            <div class="buttons">
                <a href="{{ url_for('login') }}" class="button">Login</a>
                <a href="{{ url_for('register') }}" class="button">Register</a>
            </div>
        </main>
    </div>
</body>
</html>
