<!-- templates/projects.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Projects</title>
</head>
<body>
     {% include 'header1.html' %}
     {% include 'header.html' %}
    <div class="container">
        <h2>Projects</h2>
        <h3>Projects List</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date</th>
                    <th>Image</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td>{{ project.name }}</td>
                    <td>{{ project.date}}</td>
                    <td><img src="{{ url_for('static', filename='uploads/'+project.image) }}" alt="Project Image" width="100"></td>

                    <td><a href="{{ url_for('edit_member', id=project.id) }}"> Edit</a></td>
                    <td><a href="{{ url_for('delete_member', id=project.id) }}">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

<!--        <ul>-->
<!--            {% for project in projects %}-->
<!--            <li>{{ project.name }} - {{ project.date }}-->
<!--                <img src="{{ url_for('static', filename='uploads/'+project.image) }}" alt="Project Image" width="100">-->
<!--                <a href="{{ url_for('edit_project', id=project.id) }}">Edit</a>-->
<!--                <a href="{{ url_for('delete_project', id=project.id) }}">Delete</a>-->
<!--            </li>-->
<!--            {% endfor %}-->
<!--        </ul>-->

        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.name.label() }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.date.label() }}
                {{ form.date(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.image.label() }}
                {{ form.image() }}
            </div>
            {{ form.submit(class="btn btn-primary") }}
        </form>

    </div>
</body>
</html>
